<ul class="links">
    <li class="link--title link">Game</li>
    <li class="link"><a href="/index.html">Create Cards</a></li>
    <li class="link"><a target="_blank" href="https://docs.google.com/document/d/1Q96cSirtThTdUsOhbWxy4vtIlZWOhRd8MyB44bYFt7Y/edit?usp=sharing">Rules</a></li>
</ul>
<ul class="links">
    <li class="link--title link">Starter Decks</li>
    <li class="link"><a href="/counterDeck.html">Counter Deck</a></li>
    <li class="link"><a href="/overwhelmDeck.html">Overwhelm Deck</a></li>
    <li class="link"><a href="/sacrificeDeck.html">Sacrifice Deck</a></li>
    <li class="link"><a href="/amnesiaDeck.html">Amnesia Deck</a></li>
    <li class="link"><a href="/judgeDeck.html">Judge Deck</a></li>
    <li class="link"><a>Stranger Deck</a></li>
    <li class="link"><a target="_blank" href="/cerebral-deck.pdf">Cerebral Deck</a></li>
</ul>
<ul class="links">
    <li class="link--title link">Contact</li>
    <li class="link"><a href="mailto:reachme@miguel-perez.com">Email</a></li>
    <li class="link"><a target="_blank" href="https://groups.google.com/forum/#!forum/mind-card-game">Forum</a></li>
</ul>