
//================================================================
// Card Layouts
//================================================================

.wl-card {
    position: relative;
    padding: $white-space;
    height: $card-height;
    width: $card-width;
    border: $white-space solid #000;
    background-color: #fff;
    box-sizing: border-box;
    page-break-inside: avoid;

    .top {
        position: absolute;
        top: 0;
        left: 0;
        padding: $white-space;
        width: 100%;
        height: 42%;
        overflow: hidden;
        font-weight: bold;
        box-sizing: border-box;
    }

    .stats {
        width: 25%;
        max-width: 48px;
        float: left;
        vertical-align: top;
        box-sizing: border-box;
        margin-right: $white-space;
        overflow: hidden;
        .stat {
            margin-bottom: $white-space;
            padding: $white-space;
            color: #fff;
            text-align: center;
            background: #000;

            .label {
                display: block;
                text-transform: uppercase;
                font-size: 6pt;
            }

            .value {
                font-size: 12pt;
                letter-spacing: 1pt;
                line-height: 1;
            }

        }
        .stat--power {
            padding-top: $white-space*2;
            padding-bottom: $white-space*2;
            .value { font-size: 16pt; }
        }
    }

    .name {
        width: 69%;
        float: left;
        font-size: 16pt;
        padding-left: $white-space;
    }

    .effect-wrapper {
        display: table;
        position: relative;
        top: 42%;
        height: 58%;
        padding: $white-space;
        box-sizing: border-box;
    }

    .effect {
        display: table-cell;
        vertical-align: middle;
        line-height: 1.5;
        font-size: 8pt;
        transition: opacity 0.1s;
    }
    .no-effect { opacity: 0; }

    .delete {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: red;
        opacity: 0;
        border-color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        font-size: 18pt;
        z-index: 2;
        &:hover {
            opacity: 0.8;
        }
    }

}

.wl-card--thinker {
    margin: ($card-height - $card-width)/2 0;
    width: $card-height;
    height: $card-width;
    .top, .effect-wrapper { height: 50%; }
}

@media print {
    .wl-card { margin-bottom: -4px; }
    .wl-card--thinker { margin-top: 0; }
}




