
//================================================================
// Create Card
//================================================================

.wl-create-card {
    .new {
        border: 1px dashed #000;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        font-size: 18pt;
        transition: outline 0.1s;
        z-index: 2;

        &:hover,
        &:active {
            border: 2px solid #000;
        }
    }
    .wl-card .stats .stat { transition: background-color 0.1s; }
    .wl-card .stats .invalid {
        background-color: red;
    }
    .panel--left {
        text-align: center;
        .wl-card--new { text-align: left; }
    }
    .panel--right {
        display: none;
        overflow: hidden;
        border-top: 1px dashed #000;
        border-bottom: 1px dashed #000;
        .wl-create-form {
            opacity: 0;
            transition: opacity 1s;
        }
    }
    .wl-card--new { display: none; }

    &.is-expanded {
        .new { display: none; }
        .panel--right { display: block; }
        .wl-card--new { display: inline-block; }
        .wl-create-form { opacity: 1; }
    }

    @include respond-to(medium){
        .panel {
            padding: 1em;
            width: 340px;
            height: 340px;
            float: left;
        }
        .panel--right {
            border-top: none;
            border-right: 1px dashed #000;
        }
        &.is-expanded {
            .panel--right {
                width: 340px;
                border-bottom: none;
                border-left: 1px dashed #000;
            }
        }
    }
    
    @include respond-to(print){
        display: none !important;
    }
}


//================================================================
// Create Form
//================================================================

.wl-create-form {
    display: block;
    position: relative;
    overflow: auto;

    .title {
        margin-bottom: 0;
        text-transform: uppercase;
    }


    .close {
        display: block;
        position: absolute;
        top: $white-space;
        right: $white-space*3;
        transition: color 0.1s;
        color: blue;
        &:hover,
        &:active {
            color: red;
        }
    }

    .wl-input {
        display: inline-block;
        margin-right: $white-space;
        input[type=text] { width: 235px; }
    }

    .err {
        display: block;
        margin: 1em 0;
        padding: 0.5em 1em;
        color: #FFF;
        font-weight: bold;
        font-size: 9pt;
        text-align: center;
        background-color: red;
    }
}

//================================================================
// Effect list
//================================================================

.wl-effect-list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 138px;
    overflow: auto;
    border: 1px solid #000;
    font-size: 9pt;

    .name { font-weight: bold; }
    
    .select {
        display: block;
        padding: $white-space*2;
        cursor: pointer;
        line-height: 1.5;
        transition: background 0.1s;
    }
    .effect-item {
        border-top: 1px dotted #000;
    }
    .effect-item:first-child { border-top: none; }

    .radio {
        display: none;
        &:checked + .select {
            color: #000;
            background: #eee;
        }
    }
}

.wl-effect-list--tall { height: 214px; }


