// ==========================================================================
// Variables
// ==========================================================================

$white-space:   0.05in;
$card-height:   3.15in;
$card-width:    2.15in;
$aside-width:   200px;


// ==========================================================================
// @mixin respond-to
// ==========================================================================
$break-medium:  768px;
$break-wide:    960px;
 
$media-query-support: true !default;
 
@mixin respond-to($media: medium, $mq-support: $media-query-support) {
  @if $mq-support == true {
    // output content wrapped in media queries
    @if $media == medium {
      @media screen and (min-width: #{$break-medium}) { @content; }
    }
    @else if $media == wide {
      @media screen and (min-width: #{$break-wide}) { @content; }
    }
    @else if $media == print {
      @media print { @content; }
    }
  }
  @elseif $mq-support == false {
    // just output the content
    @if $media == medium or wide {
      @content;
    }
  }
}



// ==========================================================================
// Globals
// ==========================================================================

body {
    font-family: 'Droid Sans', sans-serif;
}

a {
    text-decoration: none;
}
@include respond-to(print) {
    body {
        margin: 0;
        padding: 0;
    }
}



//================================================================
// :: layout
//================================================================

.wl-layout {
    position: relative;
    transition: padding 0.25s;
    overflow-x: hidden;
    line-height: 1.5;
    
    .main {
        position: relative;
        transition: left 0.25s;
    }

    .aside {
        position: absolute;
        right: -$aside-width - 2px;
        top: 0;
        height: 100%;
        width: $aside-width;
        border-left: 2px solid #000;
        transition: right 0.25s;
        
        .wl-site-name {
            a { 
                color: #000;
                text-decoration: none;
            }
            abbr { border: none; }
        }

        .nav-group {
            padding: 0.5em 1em ;
        }

        .category {
            margin: 0.5em 0;
            font-size: 1em;
            text-transform: uppercase;
        }
        
        .links {
            margin: 0;
            padding: 0;
            font-size: 0.8em;
            list-style: none;
            .link {
                display: block;
                margin: 0;
                a {
                    display: block;
                    margin: 0.5em 1em;
                    text-decoration: none;
                    &:hover { color: red; }
                }
            }
        }
    }

    .footer {
        margin: 2em 0;
        padding: 2em;
        border-top: 1px dashed #000;
        .email {
            display: block;
            width: 100%;
        }
    }
}

.wl-toggle-aside {
    display: none;
    &:checked ~ .wl-layout {
        .aside { right: 0; }
        .main { left: -$aside-width - 2px; }
        @include respond-to(wide) {
            padding-right: $aside-width + 2px;
            .main { left: 0; }
        }
    }
}


.wl-aside-toggler {
    &:before {
        content: '\2630';
    }
}

@include respond-to(print) {
    .wl-layout {
        padding-right: 0 !important;
        .aside { display: none; }
        .main { 
            min-width: 0;
            left: 0 !important;
        }
        .footer {
            display: none;
        }
    }
}


//================================================================
// :: inputs
//================================================================

.wl-input {
    .label {
        display: block;
        font-size: 8pt;
        font-weight: bold;
    }
    .value {
        border: none;
        border-bottom: 1px solid #000;
        line-height: 1.5;
        vertical-align: bottom;
        margin-bottom: 1px;
        border-radius: 0px;
        &:focus {
            outline: none;
            border-bottom-width: 2px;
            margin-bottom: 0;
        }
    }
    .req {
        color: red;
         @include respond-to(print) {
            display: none;
        }
    }
}

.wl-hide {
    display: none;
}

.wl-content-form {
    margin: 2em 0;

    .textarea {
        display: block;
        width: 100%;
        height: 150px;
        padding: 0.5em;
        margin-bottom: 2em;
        font-size: 0.8em;
        border: 1px solid #000;
        &:focus {
            outline: 1px solid #000;
        }
    }

    .inline {
        display: inline-block;
        margin-right: 1em;
    }
    .buttons {
        margin: 2em 0;
        border-bottom: 1px dotted #000;
        @include respond-to(print) {
            visibility: hidden;
        }
    }
    @include respond-to(print) {
        .submit { display: none; }
    }
}


//================================================================
// :: header
//================================================================

.wl-header {
    box-sizing: border-box;
    padding: 1em;
    height: 68px;
    border-bottom: 1px solid #000;
    background: #fff;
    overflow: hidden;
    z-index: 200;
}

.wl-header--button {
    float: right;
    display: block;
    background: #fff;
    border-right: none;
    border-top: none;
    border-left: 1px dotted #000;
    color: blue;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    cursor: pointer;
    &:hover { color: red; }
}

.wl-site-name {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 37px;
    font-weight: bold;
    vertical-align: middle;
    @include respond-to(medium) {
        font-size: 2em;
    }
    a {
        text-decoration: none;
    }
}

@include respond-to(print) {
    .wl-header { display: none; }
}

//================================================================
// :: Horizontal Scroller
//================================================================

.wl-horizontal-scroller {
  overflow: auto;
  white-space: nowrap;
  & > * {
    display: inline-block;
    white-space: normal;
  }
}
@include respond-to(print) {
    .wl-horizontal-scroller {
        padding: 0;
        white-space: normal;
    }
}

//================================================================
// :: effect list
//================================================================

.wl-card-shelf {
    border-bottom: 1px solid #000;
    overflow: hidden;
    page-break-after: always;
    @include respond-to(medium) {
        height: 352px;
    }
    .bd {
        margin: $white-space * 5;
    }
    .wl-create-card {
        overflow: hidden;
        @include respond-to(medium) {
            float: left;
        }
    }
    .wl-horizontal-scroller  { padding: $white-space * 5; }
}

@include respond-to(print) {
    .wl-card-shelf {
        min-height: 0;
        margin: 0;
        padding: 0;
        border: none;
        .bd { margin: 0; }
        .wl-horizontal-scroller { padding: 0; }
    }
}

//================================================================
// :: Create Card
//================================================================

.wl-create-card {
    .new {
        border: 1px dashed #000;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        font-size: 18pt;
        transition: outline 0.1s;
        z-index: 2;

        &:hover,
        &:active {
            border: 2px solid #000;
        }
    }

    .wl-card .stats .stat { transition: background-color 0.1s; }
    .wl-card .stats .invalid {
        background-color: red;
    }

    .panel {
        @include respond-to(medium) {
            float: left;
        }
    }
    .panel--left {
        margin-left: auto;
        margin-right: auto;
        width: 304px;
        text-align: center;
        @include respond-to(medium) {
            margin-left: 0.25in;
            margin-right: 0.25in;
        }
        .wl-card--new { text-align: left; }
    }
    .panel--right {
        overflow: hidden;
        border-top: 1px dashed #000;
        height: 0;
        transition: height 0.25s;

        @include respond-to(medium) {
            width: 0;
            height: auto;
            transition: width 0.25s;
            border-top: none;
            border-right: 1px dashed #000;
            height: 352px;
        }

        .wl-create-form {
            opacity: 0;
            transition: opacity 1s;
            @include respond-to(medium) {
                width: 350px;
            }
        }
    }

    .wl-card--new {
        display: none;
    }

    &.is-expanded {
        .panel--right {
            border-bottom: 1px dashed #000;
            height: 380px;
            @include respond-to(medium) {
                height: auto;
                width: 350px;
                border-bottom: none;
                border-left: 1px dashed #000;
            }
        }
        .new {
            display: none;
        }
        .wl-card--new {
            display: inline-block;
        }
        .wl-create-form { 
            opacity: 1;
        }
    }

}

@include respond-to(print) {
    .wl-create-card { display: none !important; }
}

//================================================================
// :: Create Form
//================================================================

.wl-create-form {
    display: block;
    position: relative;
    float: left;
    overflow: auto;

    .title {
        margin: 0;
        text-transform: uppercase;
    }


    .close {
        display: block;
        position: absolute;
        top: $white-space;
        right: $white-space*3;
        transition: color 0.1s;
        color: blue;
        &:hover,
        &:active {
            color: red;
        }
    }

    .wl-input {
        display: inline-block;
        margin-right: $white-space;
    }

    .err {
        display: block;
        margin: 1em 0;
        padding: 0.5em 1em;
        color: #FFF;
        font-weight: bold;
        font-size: 9pt;
        text-align: center;
        background-color: red;
    }

}


//================================================================
// :: buttons
//================================================================

.wl-button {
    padding: 0.5em 1em;
    border: none;
    border: 1px dotted #000;
    border-bottom: 2px solid #000;
    border-radius: 0px;
    background: #fff;
    font-weight: bold;
    text-align: center;
    transition: outline 0.1s;
    text-transform: uppercase;

    &:hover {
        outline: 2px solid blue;
    }
    &:active {
        outline: 1px solid #000;
    }

    &[disabled] {
        opacity: 0.25;
        &:hover {
            outline: none;
        }
    }
}

.wl-button--block {
    display: block;
    padding: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;
}


.wl-text-button {
    background: none;
    border: none;
    padding: $white-space;
    margin: 0;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}


//================================================================
// :: effect list
//================================================================

.wl-effect-list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 138px;
    overflow: auto;
    border: 1px solid #000;
    font-size: 9pt;

    .name { font-weight: bold; }
    
    .select {
        display: block;
        padding: $white-space*2;
        cursor: pointer;
        line-height: 1.5;
        transition: background 0.1s;
    }
    .effect-item {
        border-top: 1px dotted #000;
    }
    .effect-item:first-child { border-top: none; }

    .radio {
        display: none;
        &:checked + .select {
            color: #000;
            background: #eee;
        }
    }
}

.wl-effect-list--tall { height: 214px; }


//================================================================
// :: card
//================================================================

.wl-card {
    position: relative;
    padding: $white-space;
    height: $card-height;
    width: $card-width;
    border: $white-space solid #000;
    background-color: #fff;
    box-sizing: border-box;
    page-break-inside: avoid;

    .top {
        position: absolute;
        top: 0;
        left: 0;
        padding: $white-space;
        width: 100%;
        height: 42%;
        overflow: hidden;
        font-weight: bold;
        box-sizing: border-box;
    }

    .stats {
        width: 25%;
        max-width: 48px;
        float: left;
        vertical-align: top;
        box-sizing: border-box;
        margin-right: $white-space;
        overflow: hidden;
        .stat {
            margin-bottom: $white-space;
            padding: $white-space;
            color: #fff;
            text-align: center;
            background: #000;

            .label {
                display: block;
                text-transform: uppercase;
                font-size: 6pt;
            }

            .value {
                font-size: 12pt;
                letter-spacing: 1pt;
                line-height: 1;
            }

        }
        .stat--power {
            padding-top: $white-space*2;
            padding-bottom: $white-space*2;
            .value { font-size: 16pt; }
        }
    }

    .name {
        width: 69%;
        float: left;
        font-size: 16pt;
        padding-left: $white-space;
    }

    .effect-wrapper {
        display: table;
        position: relative;
        top: 42%;
        height: 58%;
        padding: $white-space;
        box-sizing: border-box;
    }

    .effect {
        display: table-cell;
        vertical-align: middle;
        line-height: 1.5;
        font-size: 8pt;
        transition: opacity 0.1s;
    }
    .no-effect { opacity: 0; }

    .delete {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: red;
        opacity: 0;
        border-color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        font-size: 18pt;
        z-index: 2;
        &:hover {
            opacity: 0.8;
        }
    }

}

.wl-card--thinker {
    margin: ($card-height - $card-width)/2 0;
    width: $card-height;
    height: $card-width;
    .top, .effect-wrapper { height: 50%; }
}

@include respond-to(print) {
    .wl-card { margin-bottom: -4px; }
    .wl-card--thinker { margin-top: 0; }
}


//================================================================
// :: Content
//================================================================

.wl-content-block {
    padding: 1em 1em 3em;
    max-width: 768px;
    box-sizing: border-box;

    h2 {
        margin-top: 2em;
        text-transform: uppercase;
    }

    .img-block {
        display: block;
        width: 100%;
        @include respond-to(medium) {
            width: auto;
        }
    }

    .intro {
        font-size: 1.8em;
        color: #666;
    }
}

.wl-hash {
    position: relative;
    top: -2px;
    font-size: 0.8em;
}

