<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - MIND</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/css/normalize.css">
        <link rel="stylesheet" href="/stylesheets/css/main.css">
    </head>
    <body>
        <input type="checkbox" class="wl-toggle-aside" id="toggle-aside" checked />
        <div class="wl-layout">
            <div class="aside">
                {% include nav.html %}
            </div>
            <div class="main" id="main">
                <header>
                    <label class="wl-header--button wl-header wl-aside-toggler" for="toggle-aside">
                        Menu
                    </label>
                    <button class="wl-header--button wl-header" onClick="window.print();">Print</button>
                    <div class="wl-header">
                        <h1 class="wl-site-name"><abbr title="Master in Neural Defense">MIND</abbr> - {{ page.title }}</h1>
                    </div>
                </header>
                <div class="main-content" >
                    {{ content }}
                </div>
            </div>
        </div>
        {% include scripts.html %}
    </body>
</html>