<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - MIND</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/css/normalize.css">
        <link rel="stylesheet" href="/stylesheets/css/main.css">
    </head>
    <body>
        <input type="checkbox" class="wl-toggle-aside" id="toggle-aside" />
        <div class="wl-layout">
            <div class="aside">
                {% include nav.html %}
            </div>
            <div class="main" id="main">
                <header>
                    <label class="wl-header--button wl-header wl-aside-toggler" for="toggle-aside">
                        Menu
                    </label>
                    <button class="wl-header--button wl-header" onClick="window.print();">Print</button>
                    <div class="wl-header">
                        <h1 class="wl-site-name">{{ page.title }}</h1>
                    </div>
                </header>
                <div class="main-content" >
                    {{ content }}
                </div>
                <div class="footer">
                    <div class="sign-up">
                        <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_signup">
                                <form action="http://mindcardgame.us3.list-manage.com/subscribe/post?u=0f107e523eb703fd3e5c0f5a6&amp;id=ecf9c6d17c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <h2 class="title"><label for="mce-EMAIL">Sign-up for the email newsletter</label></h2>
                                    <p class="link">Want to stay updated? Hand me your email and I'll make sure to keep you in the loop about my progress.</p>
                                    <p class="wl-input"><input type="email" value="" name="EMAIL" class="email value" id="mce-EMAIL" placeholder="email address" required></p>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0f107e523eb703fd3e5c0f5a6_ecf9c6d17c" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="wl-button wl-button--block"></div>
                                </form>
                            </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div>
        {% include scripts.html %}
    </body>
</html>